* {
  align-content: center;
}

/* Header One */
h1 {
  color: rgb(42, 40, 189);
  font-size: 400%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 20px;
  animation-name: bluer;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes bluer {
  from {
    color: rgb(42, 40, 189);
  }

  75% {
    color: rgb(15, 14, 57);
  }

  to {
    color: rgb(42, 40, 189);
  }
}

/* Header Two */
h2 {
  color: rgb(191, 104, 17);
  text-decoration: underline;
}

/* Paragraph */
p {
  font-style: italic;
  color: rgb(255, 255, 255);
}

/* Body */
body {
  background-color: black;
  background-image: none;
}

/* Main */
main {
  background-image: url("https://68.media.tumblr.com/da6547ffaefedb8aa7180bfb2c3c2516/tumblr_naqniaapvE1r4gnono1_500.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  border-color: #970606;
  border-style: groove;
  border-color: #970606;
  background-color: rgb(13, 9, 9);
  border-radius: 10px;
  width: 42em;
  height: 22em;
}

/* Start Button */
#startbutton {
  background-color: #244526;
  color: white;
  padding: 15px 32px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

#startbutton:hover {
  background-color: #970606;
  color: white;
}

/* Retry Button */
#retrybutton {
  background-color: #0f0c0c;
  color: white;
  padding: 15px 32px;
  font-size: 20px;
  border-radius: 12px;
  margin-bottom: 2em;
}

#retrybutton:hover {
  background-color: #9a1515;
  color: white;
}

/* Hidden */
.hidden {
  display: none;
}

/* Game Over */
#game-over {
  background-size: contain;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 100px;
  color: red;
  text-align: center;
  border-color: #970606;
  border-style: groove;
  background-color: black;
  border-radius: 10px;
  width: 8em;
}

#over-screen {
  background-position: center;
  background-color: black;
  border-radius: 10px;
  background-image: url("https://pa1.narvii.com/6033/f368f88ba3cbce49059427f5362663aa42316a6e_hq.gif");
  background-repeat: no-repeat;
  background-size: contain;
  height: 2em;
  margin-left: 0.5em;
}

/* Timer */
#timer {
  color: red;
  text-decoration: dotted;
  align-items: center;
  margin-bottom: 0.5em;
}

/* Question Container */
#question-container {
  border-radius: 10px;
  background-image: url("https://64.media.tumblr.com/db53cb58f8d3a54fdda4a4f1874b8424/a666abc5f58c6b1d-82/s1280x1920/73f9dde457135a730585d755978fb21f8c0ea445.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  padding: 20px;
  flex-direction: row;
  border-color: #970606;
  border-style: groove;
  background-color: #06060a;
  width: 32em;
  height: 20em;
  text-align: left;
}

.answer-btn {
  background-color: #141d36;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  border-radius: 10px;
  display: flex;
  flex-flow: column wrap;
  width: 150px;
  margin-left: 6em;
  margin-bottom: 0.5em;
}

.answer-btn:hover {
  background-color: #0fe516;
  color: white;
}

/* Score Button */
#scorebutton {
  background-color: #0f0c0c;
  color: white;
  padding: 15px 32px;
  font-size: 20px;
  border-radius: 12px;
  align-content: center;
  margin-bottom: 2em;
}

#scorebutton:hover {
  background-color: #9a1515;
  color: white;
}

/* Result Info */
#result-info {
  color: white;
  position: absolute;
  border-style: solid;
  border-color: #970606;
  background-color: #aa3030;
  border-radius: 10px;
  width: 42em;
  height: 22em;
}

.footer {
  padding: 10px;
}

/* Responsive layout */
@media screen and (max-width: 700px) {
  .question-container,
  .nav {
    flex-direction: column;
  }
}
